{{ define "main" }}
{{ $page := . }}

<div class="universal-wrapper pt-9">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">

        {{ with $page.Content }}
        <div class="article-style">{{ . }}</div>
        {{ end }}

        {{ range $page.Pages.GroupByDate "2006" }}
        <h2 class="mt-4 mb-2">{{ .Key }}</h2>
        {{ range .Pages }}
        <div class="media stream-item">
          <div class="media-body">
            <h3 class="article-title mb-0 mt-0">
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h3>
            {{ with .Params.summary }}
            <p class="article-style mb-0">{{ . }}</p>
            {{ end }}
            <div class="stream-meta article-metadata">
              <span>{{ .Date.Format "Jan 2006" }}</span>
              {{ with .Params.location }}<span class="middot-divider"></span><span>{{ . }}</span>{{ end }}
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}

      </div>
    </div>
  </div>
</div>

{{ end }}
